.img-fluid_head {
     width:100px;
     height:auto;
 }

.img-fluid_main {
    width:400px;
    height:auto;
}

.btn-danger_top{
    color: #fff;
    background-color: #f4ab2b;
    border-color: #f4ab2b;
    border-radius: 25px;

}

.btn-primary-top{
    color: #fff;
    background-color: #fd4441;
    border-color: #fd4441;
    border-radius: 25px;

}


.btn-success-top{
    color: #fff;
    background-color: #3cb100;
    border-color: #3cb100;
    border-radius: 25px;


}

.btn-warning-top{
    color: #fff;
    background-color: #00a3c4;
    border-color: #00a3c4;
    border-radius: 25px;

}

.btn-black-top{
    color: #fff;
    background-color: #0f0f0f;
    border-color: #0f0f0f;
    border-radius: 25px;

}

.top-left{
    margin:5px;
    padding-left: 5px;
    padding-right: 5px;
}

.btn-top{
    margin:5px 5px;
}

.v-top{
    vertical-align: top;
}

.box{
    position: relative;
    text-align: center;
    display: table;
    width: 200px;
    height: 100px;
    border: 2px solid #fafafa;
    border-radius: 0 20px 20px 20px;
    background-color: #fafafa;
    margin: 10px;


}

.box:after{
    position: absolute;
    top: -2px;
    left: -2px;
    content: '';
    border-top:10px solid #f4ab2b;
    border-left:10px solid #f4ab2b;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    box-sizing: border-box;
    border-radius: 0px;
}

.box-inner{
    positoin: absolute;
    display: table-cell;
    vertical-align: middle;
}

.border-pink {
    border-color: #e83e8c !important;
}

.border-orange {
    border-color: #f4ab2b !important;
}

.triangle{
    width: 0;
    height: 0;
    border-left: 10px solid #f4ab2b;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    margin: 1rem ;
}

.container-price{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem;
}

.w-20 {
    width: 20% !important;
}


.bg-image{
}

.text-divider {
    display: flex;
    align-items: center;
}
.text-divider::before,
.text-divider::after {
    content: '';
    height: 3px;
    background-color: #333;
    flex-grow: 1;
}

.text-divider::before {
    margin-right: 2rem;
}
.text-divider::after {
    margin-left: 2rem;
}

.sample{
    position:relative;
    background-color: #fff;
    width:300px;
    height: 300px;
    margin:0 auto;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 8px gray;
}

.sample2{
    position:absolute;
    top: -10%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    margin: auto;
    text-align: center;
    font-size:1.3em;
    padding:5px 15px;
    color:#fff;
    background-color: #f4ab2b;
}

.sample3{
    position: absolute;
    top: 15%;
    left: 50%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-top: 15px solid #f4ab2b;
}

.sample4{
    position:relative;
    background-color: #fff;
    width:100%;
    height: 300px;
    margin:0 25px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 8px gray;
}

.sample5{
    position:relative;
    background-color: #fbccab;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:300px;
    height: 330px;
    margin:0 auto;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 8px gray;
}

.sample6{
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -10%;
    left: 50%;
    width:200px;
    height: 50px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    /*margin: auto;*/
    text-align: center;
    font-size:1em;
    /*padding:5px 20px;*/
    color:#fff;
    background-color: #f4ab2b;
}

.sample7{
    position: absolute;
    top: 5%;
    left: 50%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-top: 15px solid #f4ab2b;
}

.box1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 300px;
    background-color: #fafafa;
    border: 1px solid #0f0f0f;
}

.box2{
    width:20%;
    height: 300px;
    background-color: #b2b2b2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.box3{
    content:"" ;
    border: 15px solid transparent;
    border-left: 15px solid #0d95e8;


}

.box4{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    width: 100%;
    border-radius: 5px;
    padding: 2rem 2rem 2rem 0;
    box-shadow: 0 0 8px gray;

}

.box5{
    display: flex;
    align-items: center;
}

.box6{
    display: flex;
    width: 50%;
    min-height:10rem;
    align-items: flex-start;
    flex-direction: column;
    align-content: flex-start;
    padding: 0 2rem;
}
.border-r{
    border-left: thick solid #f4ab2b;
    padding-left: 0.5em;
}

.triangle-r{
    border:1.5rem solid transparent;
    border-top:1.5rem solid #b2b2b2;
}
