.img-fluid_head {
     width:100px;
     height:auto;
 }

.img-fluid_main {
    width:400px;
    height:auto;
}

.btn-danger_top{
    color: #fff;
    background-color: #f4ab2b;
    border-color: #f4ab2b;
    border-radius: 25px;

}

.btn-primary-top{
    color: #fff;
    background-color: #fd4441;
    border-color: #fd4441;
    border-radius: 25px;

}


.btn-success-top{
    color: #fff;
    background-color: #3cb100;
    border-color: #3cb100;
    border-radius: 25px;


}

.btn-warning-top{
    color: #fff;
    background-color: #00a3c4;
    border-color: #00a3c4;
    border-radius: 25px;

}

.btn-black-top{
    color: #fff;
    background-color: #0f0f0f;
    border-color: #0f0f0f;
    border-radius: 25px;

}

.top-left{
    margin:5px;
    padding-left: 5px;
    padding-right: 5px;
}

.btn-top{
    margin:5px 5px;
}

.v-top{
    vertical-align: top;
}

.box{
    position: relative;
    text-align: center;
    display: table;
    width: 200px;
    height: 100px;
    border: 2px solid #fafafa;
    border-radius: 0 20px 20px 20px;
    background-color: #fafafa;
    margin: 10px;


}

.box:after{
    position: absolute;
    top: -2px;
    left: -2px;
    content: '';
    border-top:10px solid #f4ab2b;
    border-left:10px solid #f4ab2b;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    box-sizing: border-box;
    border-radius: 0px;
}

.box-inner{
    positoin: absolute;
    display: table-cell;
    vertical-align: middle;
}

.border-pink {
    border-color: #e83e8c !important;
}

.border-orange {
    border-color: #f4ab2b !important;
}

.triangle{
    width: 0;
    height: 0;
    border-left: 10px solid #f4ab2b;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
}



